body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width: 1540px) {
    .container {
        padding: 24px 24px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 30px 30px;
    }
}
